<h2></h2>
<table class="table">
    <thead>
        <tr>
        <th></th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Stock</th>
        </tr>
    </thead>
  <tbody>
  @for (clothes of clothes; track clothes.name){
    <tr [ngClass]="{'clearance':clothes.clearance}" >
      <td>
        <img 
          [src]="clothes.imagen" 
          [alt]="clothes.name" 
          width="250" 
          (mouseenter)="cambiarImagen(clothes)" 
          (mouseleave)="restaurarImagen(clothes)"
        />
    
      </td>
      <td class="nombrePrenda">{{ clothes.name }} </td>
      <td>{{ clothes.description}}</td>
      <td> {{clothes.price  | currency}}</td>

      @if(clothes.stock > 0){
        <td>{{clothes.stock}}</td>
      }@else {
        <td ><span class="badge rounded-pill text-bg-warning" *ngIf= "clothes.stock == 0">SIN STOCK</span></td>
      }
    </tr>
  }@empty {
    <tr>
      <td colspan = "4">No hay indumentaria para mostrar</td>   
    </tr>
  }
  </tbody>
</table>
