<h2></h2>
<table class="table">
    <thead>
        <tr>
        <th></th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Stock</th>
        </tr>
    </thead>
  <tbody>
    <tr *ngFor="let clothes of clothes" [ngClass]="{'clearance':clothes.clearance}">
      <td>
        <img 
          [src]="clothes.imagen" 
          [alt]="clothes.name" 
          width="250" 
          (mouseenter)="cambiarImagen(clothes)" 
          (mouseleave)="restaurarImagen(clothes)"
        />
    
      </td>
      <td class="nombrePrenda">{{ clothes.name }} </td>
      <td>{{ clothes.description}}</td>
      <td> {{clothes.price  | currency}}</td>
      <td ><span class="badge rounded-pill text-bg-warning" *ngIf= "clothes.stock == 0">SIN STOCK</span><span *ngIf= "clothes.stock > 0">{{clothes.stock}}</span></td>
    
    </tr>
  </tbody>
</table>
