<div class="cart-container">
  <h3>Carrito de compras
  </h3>

  <ng-container *ngIf="cartList$ | async as cartList">
    <ul class="cart-list" *ngIf="cartList.length > 0; else emptyCart">
      <li *ngFor="let clothes of cartList">
        <span class="item-name">{{ clothes.name }}</span>
        <span class="item-quantity">x{{ clothes.quantity }}</span>
      </li>
    </ul>
  </ng-container>

  <ng-template #emptyCart>
    <p class="empty-cart">Tu carrito está vacío.</p>
  </ng-template>
</div>
